.grid-container{
    display:grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 20vh auto 40vh;
    grid-gap: 0px 0px;
    height:98vh;
    grid-template-areas:"left top right" "center-left center center-right" "bottom-left bottom bottom-right";
}

.login-box {
    display:grid;
    grid-area: center;
    grid-template-rows:auto auto auto 50px
  }