@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


.login-header{
    font-family: 'Indie Flower', cursive;
    font-size: 5vh;
    justify-self: center;
    align-self: center;
}

 .button-area{
     display: grid;
     grid-template-columns: 1fr 1fr 0.5fr;
     grid-template-areas: "left top right";
 }

 .form-grid{
     display:grid;
 }

 .loading-wrapper{
    z-index: 100000;
    background-color: rgba(36, 34, 34, 0.6);
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
 }