
  <h1 class="login-header" *ngIf="!processing">Hisword Project</h1>
  <form [formGroup]="loginForm" class="form-grid" (ngSubmit)="onSubmit(loginForm.value)" *ngIf="!processing">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" >
      <mat-error *ngIf="!loginForm.controls['username'].valid">Username is required</mat-error>
    </mat-form-field>
 
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="!loginForm.controls['password'].valid">Password is required</mat-error>
    </mat-form-field>
    <div class="button-area">
      <button type="submit" mat-flat-button color="primary" style="grid-area: right" [disabled]="!loginForm.valid">Login</button>
    </div>  
  </form>

  <div *ngIf="processing" class="loading-wrapper">
    <div style="grid-area: center">
      <mat-spinner [diameter]="100"></mat-spinner>
      <h1 style="font-family: Arial, Helvetica, sans-serif">{{loginMessage}}</h1>
    </div>
  </div>
 

